{% extends "/layouts/minimal.twig" %}

{% block title 'Account'|title %}

{% set xdata %}
account()
{% endset %}



{% block template %}
{# Header #}
<form class="flex flex-col gap-8" @submit.prevent="submit" x-ref="form">

  <div class="flex flex-col gap-2">
    <section
      class="grid grid-cols-2 gap-6 px-16 py-12 border rounded-xl border-line-dimmed">

      <div class="col-span-2">
        <h2 class="text-lg font-bold">Personal Information</h2>
        <code is="resource-id">{{ auth_user.id }}</code>
      </div>

      <div>
        <label for="first_name" class="text-sm font-semibold">First name</label>

        <input type="text" id="first_name" name="first_name" class="mt-2 input"
          autocomplete="off" value="{{ auth_user.first_name }}"
          placeholder="{{ auth_user.first_name }}" required />
      </div>

      <div>
        <label for="last_name" class="text-sm font-semibold">Last name</label>

        <input type="text" id="last_name" name="last_name" class="mt-2 input"
          autocomplete="off" value="{{ auth_user.last_name }}"
          placeholder="{{ auth_user.last_name }}" required />
      </div>

      <div class="col-span-2">
        <div class="flex items-center justify-between">
          <label for="email" class="text-sm font-semibold">Email</label>

          <a href="app/account/email" class="text-xs font-semibold">

            Change email
          </a>
        </div>

        <input type="text" id="email" class="mt-2 input" autocomplete="off"
          placeholder="{{ auth_user.email }}" value="{{ auth_user.email }}"
          disabled />
      </div>

      <div class="col-span-2">
        <button type="submit" class="w-full button" x-ref="submit"
          :disabled="!isSubmitable" :processing="isProcessing">

          {% include "/snippets/spinner.twig" %}

          Save changes
        </button>
      </div>

      <div class="flex items-center col-span-2 gap-1 text-sm">
        <i class="text-xl ti ti-lock"></i>

        <a href="app/account/password">Change password</a>
      </div>

      <div class="col-span-2 text-xs text-content-dimmed">
        Profile images are provided by <a href="https://en.gravatar.com/"
          target="_blank">
          Gravatar
          <i class="ti ti-external-link"></i>
        </a>
      </div>
    </section>
  </div>
</form>

<footer class="mt-10">
  <div class="text-center">
    <a href="app" class="text-content-dimmed">Go back to app</a>
  </div>
</footer>
{% endblock %}